<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hội chợ</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <style>
      #progress {
        position: absolute;
        width: 100%;
        height: 3px;
      }
      
      #bar {
        background-color: #fff;
        height: 100%;
        transition: width 0.1s ease;
      }
      
      #bar.hide {
        opacity: 0;
        transition: opacity 1s ease;
      }

    </style>
</head>

<body>
    <div id="progress">
      <div id="bar"></div>
    </div>

    <div id="loading" style="display: none;" class="scene">
      <div class="plane">
        <div class="cube cube--0">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--0"></div>
        <div class="cube cube--1">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--1"></div>
        <div class="cube cube--2">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--2"></div>
        <div class="cube cube--3">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--3"></div>
        <div class="cube cube--4">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--4"></div>
        <div class="cube cube--5">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--5"></div>
        <div class="cube cube--6">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--6"></div>
        <div class="cube cube--7">
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
          <div class="cube__side"></div>
        </div>
        <div class="shadow shadow--7"></div>
      </div>
    </div>

    <!-- Popup open when click item -->
    <div id="popup_item" class="box" style="display: none">
      <div class="modal-container" id="m2-o" style="--m-background: hsla(0, 0%, 0%, .4);">
        <div class="modal">
          <p id="item__name" class="modal__title"></h1>
          <div class="item_container"">
            <img id="item__img" style="margin: 2px" width="150px" src="" >
            <p id="item_desc" class="modal__text"></p>
          </div>
          <button id="learn_more__link" class="modal__btn">Learn more &rarr;</button>
          <div id="close_popup__btn" class="link-2"></div>
        </div>
      </div>
    </div>


    <div id="container">
        <div class="popup" id="nodeviceorientation" style="display:none">
            <button id="requestaccess" class="button-62 font-regular">TIẾP TỤC<br>
              Demander la permission (iOS 13 et plus)
            </button>
          </div>
    </div>
    <div id="my_camera"></div>
    <input id="snapshot" type=button value="Take Snapshot" onClick="take_snapshot()" hidden="true">
    <video id="my_video" controls playsinline webkit-playsinline muted loop width="1280" height="720" style="display: none;">
        <source src="static/images/video_tv.mp4" type="video/mp4">
    </video>
    <video id="video_2" style="display:none" autoplay playsinline></video>
    <div id="results"></div>

    <script type="text/javascript" src="static/js/three.min.js"></script>
    <script type="text/javascript" src="static/js/panolens.min.js"></script>
    <script type="text/javascript" src="static/js/webcam.min.js"></script>
    <script type="text/javascript" src="static/js/clamp.js"></script>
    <script type="text/javascript" src="static/js/panorama_2.js"></script>
    <script type="text/javascript" src="static/js/arrows.js"></script>
    <script type="text/javascript" src="static/js/items.js"></script>
    <script type="text/javascript" src="static/js/video.js"></script>
    <script type="text/javascript" src="static/js/showrooms.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/watermark.min.js"></script>
</body>

</html>